<% var domain = '/AD/' %>
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <title><%= page.title %></title>
  <meta name="viewport" content="initial-scale=1.0, width=device-width">
  <meta name="application-name" content="DOTA"/>
  <link rel="shortcut icon" href="<%- domain %>favicon.ico?v=2">
  <script charset="utf-8" type="text/javascript" src="<%- domain %>js/vendors.js"></script>
  <script charset="utf-8" type="text/javascript" src="<%- domain %>js/main.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="<%- domain %>css/main.css">
</head>
<body>
  <%- body %>
</body>
</html>